<div class="container p-5">
    <div class="form rounded-3 bg-dark text-white shadow overflow-hidden">
        @if(currentSection === 1){
            <div class="row m-0">
                <div class="col-3 p-0">
                    <div class="row m-0 h-100 flex-column">
                        <div class="px-3 py-2 pointer">
                            Datos Generales
                        </div>
                        
                        <div class="col p-0">
                            <div class="list-group rounded-start-0 rounded-bottom-0 bg-warning h-100">
                                <div class="list-group-item border-0 bg-warning pointer" (click)="changeSection(2)">
                                    4Vientos
                                </div>
                                <div class="list-group-item border-0 bg-warning pointer" (click)="changeSection(3)">
                                    ODS
                                </div>
                                <div class="list-group-item border-0 bg-warning pointer" (click)="changeSection(4)">
                                    RRSS
                                </div>
                                <div class="list-group-item pb-3 border-0 bg-warning h-100 d-flex flex-column justify-content-end mt-5">
                                    <div class="d-flex justify-content-end">
                                        <button type="button" class="btn btn-outline-dark" (click)="next()">></button>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>                
                </div>

                <div class="col-9 p-4">
                    <div class="row p-2 g-4">
                        <h1 class="display-6 ">Rellena los Datos Generales</h1>
                        
                        <div class="col-6">
                            <label for="" class="form-label">Nombre</label>
                            <input type="text" class="form-control bg-dark text-white">
                        </div>

                        <div class="col-6">
                            <label for="" class="form-label">Tipo</label>
                            <select class="form-control bg-dark text-white">
                                <option disabled selected>Selecciona una opción</option>
                                <option value="">Proyecto</option>
                                <option value="">Charla</option>
                                <option value="">Taller</option>
                            </select>
                        </div>

                        <div class="col-12">
                            <label for="" class="form-label">Descripción</label>
                            <textarea  class="form-control bg-dark text-white"></textarea>
                        </div>

                        <div class="col-6">
                            <label for="" class="form-label">Fecha Inicio</label>
                            <input type="date" class="form-control bg-dark text-white">
                        </div>

                        <div class="col-6">
                            <label for="" class="form-label">Fecha Fin</label>
                            <input type="date" class="form-control bg-dark text-white">
                        </div>

                        <div class="col-3">
                            <label for="" class="form-label">Horas</label>
                            <input type="number" class="form-control bg-dark text-white">
                        </div>
                        
                    </div>
                </div>
            </div>
        }

        @if(currentSection === 2){
            <div class="row m-0">
                <div class="col-3 p-0">
                    <div class="row m-0 h-100 flex-column">            
                        <div class="col p-0">
                            <div class="list-group rounded-start-0 rounded-top-0 bg-warning h-100">
                                <div class="list-group-item border-0 bg-warning pointer" (click)="changeSection(1)">
                                    Datos Generales
                                </div>
                            </div>
                        </div>
                        
                        <div class="px-3 py-2 pointer">
                            4Vientos
                        </div>
                        
                        <div class="col p-0">
                            <div class="list-group rounded-start-0 rounded-bottom-0 bg-warning h-100">
                                <div class="list-group-item border-0 bg-warning pointer" (click)="changeSection(3)">
                                    ODS
                                </div>
                                <div class="list-group-item border-0 bg-warning pointer" (click)="changeSection(4)">
                                    RRSS
                                </div>
                                <div class="list-group-item pb-3 border-0 bg-warning h-100 d-flex flex-column justify-content-end mt-5">
                                    <div class="d-flex justify-content-between">
                                        <button type="button" class="btn btn-outline-dark" (click)="prev()"><</button>
                                        <button type="button" class="btn btn-outline-dark" (click)="next()">></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-9 p-4">
                    <div class="">
                        <h1 class="display-6 border-bottom pb-2">Inserta un Profesor</h1>
                    </div>
                </div>
            </div>
        }

        @if(currentSection === 3){
            <div class="row m-0">
                <div class="col-3 p-0">
                    <div class="row m-0 h-100 flex-column">            
                        <div class="col p-0">
                            <div class="list-group rounded-start-0 rounded-top-0 bg-warning h-100">
                                <div class="list-group-item border-0 bg-warning pointer" (click)="changeSection(1)">
                                    Datos Generales
                                </div>
                                <div class="list-group-item border-0 bg-warning pointer" (click)="changeSection(2)">
                                    4Vientos
                                </div>
                            </div>
                        </div>
                        
                        <div class="px-3 py-2 pointer">
                            ODS
                        </div>
                        
                        <div class="col p-0">
                            <div class="list-group rounded-3 rounded-start-0 rounded-bottom-0 bg-warning h-100">
                                <div class="list-group-item border-0 bg-warning pointer" (click)="changeSection(4)">
                                    RRSS
                                </div>
                                <div class="list-group-item pb-3 border-0 bg-warning h-100 d-flex flex-column justify-content-end mt-5">
                                    <div class="d-flex justify-content-between">
                                        <button type="button" class="btn btn-outline-dark" (click)="prev()"><</button>
                                        <button type="button" class="btn btn-outline-dark" (click)="next()">></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-9 p-4">
                    <div class="">
                        <h1 class="display-6 border-bottom pb-2">Añade un ODS</h1>
                    </div>
                </div>
            </div>
        }

        @if(currentSection === 4){
            <div class="row m-0">
                <div class="col-3 p-0">
                    <div class="row m-0 h-100 flex-column">            
                        <div class="col p-0">
                            <div class="list-group rounded-3 rounded-start-0 rounded-top-0 bg-warning h-100">
                                <div class="list-group-item border-0 bg-warning pointer" (click)="changeSection(1)">
                                    Datos Generales
                                </div>
                                <div class="list-group-item border-0 bg-warning pointer" (click)="changeSection(2)">
                                    4Vientos
                                </div>
                                <div class="list-group-item border-0 bg-warning pointer" (click)="changeSection(3)">
                                    ODS
                                </div>
                            </div>
                        </div>
                        
                        <div class="px-3 py-2 pointer">
                            RRSS
                        </div>

                        <div class="col p-0">
                            <div class="list-group rounded-3 rounded-start-0 rounded-bottom-0 bg-warning h-100">
                                <div class="list-group-item pb-3 border-0 bg-warning h-100 d-flex flex-column justify-content-end mt-5">
                                    <div class="d-flex justify-content-between">
                                        <button type="button" class="btn btn-outline-dark" (click)="prev()"><</button>
                                        <button type="button" class="btn btn-outline-dark w-75">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>

                <div class="col-9 p-4">
                    <div class="">
                        <h1 class="display-6 border-bottom pb-2">Lugar de Difusión</h1>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<!-- <div class="container w-50 bg-dark p-1 ">
    <div class="row m-0 bg-primary p-1 ">
        <div class="col-4 bg-success">
            <div class="row m-0 h-100 flex-column">
                <div class="bg-danger">a</div>
                <div class="bg-secondary col">a</div>
            </div>
            
        </div>
        <div class="col-8 bg-warning" style="height: 100px;">a</div>
    </div>
</div> -->


<!--  -->

<!--  -->