<div class="row" [formGroup]="personalData">
    <div class="col-6">
        <label for="name" class="form-label">Nombre:</label>
        <input type="text" class="form-control" formControlName="name">
    </div>

    <div class="col-6">
        <label for="surname" class="form-label">Apellido:</label>
        <input type="text" class="form-control" formControlName="surname">
    </div>

    <div class="col-6">
        <label for="phone">Teléfono</label>
        <input type="text" id="phone" class="form-control" formControlName="phone">
    </div>
</div>
